@font-face {
    font-family: Light;
    src: url(media/MyriadPro-Light.otf);
}

@font-face {
    font-family: Regular;
    src: url(media/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: Italica;
    src: url(media/MYRIADPRO-SEMIBOLDIT.OTF);
}

body{
    height: 100vh;
    display: flex;
    background-color: white;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin-left: 0%;
}

.Superior{
    display: flex;
    flex-direction: row;
}

.Navbar{
    padding-left: 5vw;
    margin-top: 0;
    margin-left: -2vw;
    width: 70%;
    height: 3.5vw;
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: Regular;
    font-size: 1vw;
}

#NavText{
    position: absolute;
    margin-top: 0.3vw;
    margin-left: 0.5vw;
}

.Navbar img{
    width: 1.5vw;
}

#LogoNav{
    width: 3vw;
}

.Ajustes{
    padding-right: 2vw;
    margin-top: 0;
    width: 30%;
    height: 3.5vw;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: right;
    align-items: center;
}

.Ajustes img{
    width: 1vw;
    height: 1vw;
    padding-left: 1vw;
}

#CaraPedro{
    width: 2.5vw;
    height: 2.5vw;
}


#ayuda1{
    position:relative;
    margin: auto;
    margin-top: 4vw;
    left: 27.5vw;
    width: 50vw;
    text-align: left;
    color: gray;
    font-size: 1.4vw;

}
.barramedia{
    width: 100%;
    border-bottom: 1px solid gray;
    margin-top:3vw ;
    font-size: 1.3vw;
    

}

.textos{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 3vw;
    background-color: aqua;
}