@font-face {
    font-family: Light;
    src: url(media/MyriadPro-Light.otf);
}

@font-face {
    font-family: Regular;
    src: url(media/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: Italica;
    src: url(media/MYRIADPRO-SEMIBOLDIT.OTF);
}

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: white;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
}

.Superior{
    display: flex;
    flex-direction: row;
}

.Navbar{
    padding-left: 9vw;
    margin-top: 0%;
    width: 100%;
    height: 3.5vw;
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: Regular;
    font-size: 1vw;
}

#NavText{
    position: absolute;
    margin-top: 0.3vw;
    margin-left: 0.5vw;
}

.Navbar img{
    width: 1.5vw;
}

#LogoNav{
    width: 2vw;
}

.Ajustes{
    padding-left: -10vw;
    margin-top: 0;
    width: 30%;
    height: 3.5vw;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: right;
    align-items: center;
}

.Ajustes img{
    width: 1vw;
    height: 1vw;
    padding-left: 1vw;
}

#CaraPedro{
    width: 2.5vw;
    height: 2.5vw;
}

.Contenido{
    margin-left: 0%;
    width: 100%;
    height: 96.5vh;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1vw;
}


#indicador{
    width:20vw ;
    font-size: 1.5vw;
    margin-top: 5vw;
    margin-left: 9vw ;
   
}

#descripcion{
    width:20vw ;
    font-size: 1.5vw;
    margin-top: 5vw;
    margin-left: 9vw ;
}
#categoria{
    width:20vw ;
    font-size: 1.5vw;
    margin-top: 5vw;
    margin-left: 9vw ;
}
#fecha_de_inicio{
    width:20vw ;
    font-size: 1.5vw;
    margin-top: 5vw;
    margin-left: 9vw ;
}
#fecha_de_terminacion{
    width:20vw ;
    font-size: 1.5vw;
    margin-top: 5vw;
    margin-left: 7vw ;
    
}
#datetime{
    width: 20vw;
    height: 5vw;
    margin-left: 5vw ;
    border: 1px solid orange;
    border-radius: 5vw;
    color: gray;
}
#tex1{
    width: 20vw;
    height: 5vw;
    margin-left: 5vw ;
    border: 1px solid orange;
    border-radius: 5vw;

}

.boton1{
   
    position: absolute;
    background-color: #ff6f2c;
    border-radius: 5vw ;
    text-decoration: none;
    width: 15vw;
    height: 3vw;
    left: 42.5vw;
    margin: auto;
    margin-top: 4vw;
    

}

.boton1 a{
    text-decoration: none;
    font-size: 1.3vw;
}


   