@font-face {
  font-family: Light;
  src: url(media/MyriadPro-Light.otf);
}

@font-face {
  font-family: Regular;
  src: url(media/MYRIADPRO-REGULAR.OTF);
}

@font-face {
  font-family: Italica;
  src: url(media/MYRIADPRO-SEMIBOLDIT.OTF);
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-color: white;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}

.Superior {
  display: flex;
  flex-direction: row;
}

.Navbar {
  padding-left: 9vw;
  margin-top: 0%;
  width: 100%;
  height: 3.5vw;
  border-bottom: 2vw solid #ff6c2c;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: Regular;
  font-size: 1vw;
}

#Nose{
  opacity: 0%;
  position: absolute;
}

#MenuHamb{
  opacity: 100%;
  position: absolute;
}

.MenuHamburguesa{
  display: none;
}

#NavText {
  position: absolute;
  margin-top: 0.3vw;
  margin-left: 0.5vw;
  text-decoration: none;
  color: black;
}

.Navbar img {
  width: 1.5vw;
}

#LogoNav {
  width: 2vw;
}

.Ajustes {
  padding-left: -10vw;
  margin-top: 0;
  width: 30%;
  height: 3.5vw;
  border-bottom: 2vw solid #ff6c2c;
  display: flex;
  justify-content: right;
  align-items: center;
}

.Ajustes img {
  width: 1vw;
  height: 1vw;
  padding-left: 1vw;
  cursor: pointer;
}

#CaraPedro {
  width: 2.5vw;
  height: 2.5vw;
  padding-right: 2vw;
}

.Contenido {
  margin-top: -1vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Panel {
  margin-top: 1vw;
  font-family: Regular;
  font-size: 2vw;
}

#Texto1 {
  font-family: Light;
  font-size: 1vw;
  margin-top: -0.3vw;
}

svg{
  width: 9vw;
  height: 9vw;
}
circle{
  fill: none;
  stroke-width: 0.3vw;
  stroke-dasharray: 92 100;
  transform: rotate(-73deg);
  transform-origin: 50%;
}
.c1{
  top: 0.6vw;
  left: 73.5vw;
  width: 2.6vw;
  height: 2.6vw;
  stroke: red;
  margin-left: 67.5vw;
}  

.c2{
  top: 0.6vw;
  left: 73.5vw;
  width: 2.6vw;
  height: 2.6vw;
  stroke: red;
  margin-left: 67.5vw;
}
.c3{
  top: 0.6vw;
  left: 73.5vw;
  width: 2.6vw;
  height: 2.6vw;
  stroke: rgb(0, 192, 0);
  margin-left: 67.5vw;
}
.c4{
  top: 0.6vw;
  left: 73.5vw;
  width: 2.6vw;
  height: 2.6vw;
  stroke: red;
  margin-left: 67.5vw;
}
.c5{
  top: 0.6vw;
  left: 73.5vw;
  width: 2.6vw;
  height: 2.6vw;
  stroke: rgb(0, 192, 0);
  margin-left: 67.5vw;
}
.c6{
  top: 0.6vw;
  left: 73.5vw;
  width: 2.6vw;
  height: 2.6vw;
  stroke: orange;
  margin-left: 67.5vw;
}

.Nombres {
  width: 78%;
  height: 2vw;
  font-family: Regular;
  font-size: 1.1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Datos1 {
  width: 80%;
  height: 4vw;
  font-family: Light;
  font-size: 1vw;
  border: 1px solid gray;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Datos2 {
  margin-top: 0.7vw;
  width: 80%;
  height: 4vw;
  font-family: Light;
  font-size: 1vw;
  border: 1px solid gray;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Datos3 {
  margin-top: 0.7vw;
  width: 80%;
  height: 4vw;
  font-family: Light;
  font-size: 1vw;
  border: 1px solid gray;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Datos4 {
  margin-top: 0.7vw;
  width: 80%;
  height: 4vw;
  font-family: Light;
  font-size: 1vw;
  border: 1px solid gray;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Datos5 {
  margin-top: 0.7vw;
  width: 80%;
  height: 4vw;
  font-family: Light;
  font-size: 1vw;
  border: 1px solid gray;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Datos6 {
  margin-top: 0.7vw;
  width: 80%;
  height: 4vw;
  font-family: Light;
  font-size: 1vw;
  border: 1px solid gray;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#Boton {
  margin-top: 2vw;
  width: 15vw;
  text-decoration: none;
  height: 3vw;
  font-family: Light;
  color: white;
  font-size: 1.2vw;
  background-color: #ff6c2c;
  border-radius: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ff6c2c;
  cursor: pointer;
}

#IndicadorT {
  position: absolute;
  margin-left: 1vw;
}

#Descripcion {
  position: absolute;
  margin-left: 12.2vw;
}

#Categoria {
  position: absolute;
  margin-left: 23.4vw;
}

#CategoriaMove {
  position: absolute;
  margin-left: 23.8vw;
}

#FechaI {
  position: absolute;
  margin-left: 32vw;
}

#FechaF {
  position: absolute;
  margin-left: 43vw;
}

#Formula {
  position: absolute;
  margin-left: 52vw;
}
#FormulaMove {
  position: absolute;
  margin-left: 53vw;
}

#Frecuencia {
  position: absolute;
  margin-left: 60.2vw;
}

.porcentaje {
  position: absolute;
  margin-left: 68vw;
}

#Area {
  position: absolute;
  margin-left: 74vw;
}
#AreaMove {
  position: absolute;
  margin-left: 74.8vw;
}
#AreaMove1 {
  position: absolute;
  margin-left: 74.5vw;
}

#Delete {
  position: absolute;
  margin-left: 81vw;
  cursor: pointer;
  width: 1.5vw;
  margin-top: -1vw;
  margin-left: 11vw;
}

#IndicadorUp {
  margin-left: -1vw;
}

#DescripcionUp {
  margin-left: 4vw;
}

#FormulaUp {
  margin-left: -1.5vw;
}

#CategoriaUp {
  margin-left: 1vw;
}

#CumplimientoUp {
  margin-left: -1.4vw;
}

#link {
  text-decoration: none;
}

input[type="checkbox"] {
  display: none;
}

#First:checked ~ .Datos1 {
  transition: 1s;
  display: none;
}
#Second:checked ~ .Datos2 {
  transition: 1s;
  display: none;
}
#Third:checked ~ .Datos3 {
  transition: 1s;
  display: none;
}
#Fourth:checked ~ .Datos4 {
  transition: 1s;
  display: none;
}
#Fifth:checked ~ .Datos5 {
  transition: 1s;
  display: none;
}
#Sixth:checked ~ .Datos6 {
  transition: 1s;
  display: none;
}

.Pie {
  width: 100%;
  height: 2vw;
  background-color: #ff6c2c;
}

.Menu {
  position: absolute;
  display: flex;
  width: 6vw;
  height: 0vw;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  background-color: #ff6c2c;
  margin-top: 8vw;
  margin-right: 4vw;
  overflow: hidden;
}

.Menu a {
  padding: 0.3vw;
  font-family: Light;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
}

.Menu a:hover {
  color: white;
}

#Burger:checked ~ .Menu {
  transition: 1s;
  width: 6vw;
  height: 4vw;
}

@media (max-width: 431px) {
  body {
    display: flex;
    background-color: white;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    font-family: Regular;
    overflow: scroll;
  }

  .Superior {
    display: flex;
    flex-direction: row;
  }

  .Navbar {
    padding-left: 9vw;
    margin-top: 0%;
    width: 100%;
    height: 15vw;
    border-bottom: 2vw solid #ff6c2c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: Regular;
    font-size: 2vw;
  }
  #NavText {
    position: absolute;
    margin-top: 0.3vw;
    margin-left: 0.5vw;
    text-decoration: none;
    color: black;
    display: none;
  }
  
  .Navbar img {
    width: 3vw;
    display: none;
  }

  #LogoNav {
    width: 2vw;
  }
  
  .Ajustes {
    padding-left: -10vw;
    margin-top: 0;
    width: 30%;
    height: 15vw;
    border-bottom: 2vw solid #ff6c2c;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  .Ajustes img {
    width: 5vw;
    height: 5vw;
    padding-left: 1vw;
    cursor: pointer;
  }
  
  #CaraPedro {
    width: 10vw;
    height: 10vw;
    padding-right: 2vw;
  }

  .Contenido {
    margin-left: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Nombres{
    font-size: 2vw;
  }

  #Nose{
    opacity: 100%;
  }

  .Menu {
    position: absolute;
    display: flex;
    width: 10vw;
    height: 0vw;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    background-color: #ff6c2c;
    margin-top: 30vw;
    margin-right: 4vw;
    overflow: hidden;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .Menu a {
    padding: 0.3vw;
    font-family: Light;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 5vw;
  }
  
  .Menu a:hover {
    color: white;
  }
  
  #Burger:checked ~ .Menu {
    transition: 0.3s;
    width: 30vw;
    height: 15vw;
  }

  #MenuHamb{
    opacity: 100%;
    width: 10vw;
    display: inline;
    margin-left: -32vw;
    margin-top: -4vw;
  }

  
  .MenuHamburguesa{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 0vw;
    background-color: rgb(235, 235, 235);
    margin-top: 82vw;
    margin-left: -40vw;
    overflow: hidden;
    align-items: left;
    text-align: center;
    border-radius: 5vw;
  }


  .MenuHamburguesa img{
    display: inline;
    width: 5vw;
  }
  .MenuHamburguesa a{
  text-decoration: none;
  }

  #NavT{
    display: inline;
    text-align: center;
    font-size: 5vw;
    text-decoration: none;
    color: black;
  }

  #Main:checked~.MenuHamburguesa{
    width: 35vw;
    height: 64vw;
    transition: 0.1s;
    z-index: 1;
  }

  .MenuHamburguesa #NavT:hover {
    color: #ff6c2c;
  }

  #Inicio{
    margin-left: -0.3vw;
  }
  #Add{
    margin-left: 0vw;
  }
  #Refresh{
    margin-left: 4vw;
  }
  #Remove{
    margin-left: 2.5vw;
  }
  #Report{
    margin-left: 2.7vw;
  }
  #Help{
    margin-left: -1vw;
  }
}
