@font-face {
    font-family: Light;
    src: url(media/MyriadPro-Light.otf);
}

@font-face {
    font-family: Regular;
    src: url(media/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: Italica;
    src: url(media/MYRIADPRO-SEMIBOLDIT.OTF);
}

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: white;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
}

.Superior{
    display: flex;
    flex-direction: row;
}

.Navbar{
    padding-left: 9vw;
    margin-top: 0%;
    width: 100%;
    height: 3.5vw;
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: Regular;
    font-size: 1vw;
}

#NavText{
    position: absolute;
    margin-top: 0.3vw;
    margin-left: 0.5vw;
    text-decoration: none ;
    color: black;
}

.Navbar img{
    width: 1.5vw;
}

#LogoNav{
    width: 2vw;
}

.Ajustes{
    padding-left: -10vw;
    margin-top: 0;
    width: 30%;
    height: 3.5vw;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: right;
    align-items: center;
}

.Ajustes img{
    width: 1vw;
    height: 1vw;
    padding-left: 1vw;
}

#CaraPedro{
    width: 2.5vw;
    height: 2.5vw;
}

.Contenido{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Panel{
    margin-top: 1vw;
    font-family: Regular;
    font-size: 2vw;
}

#Texto1{
    font-family: Light;
    font-size: 1vw;
    margin-top: -0.3vw;
}

.Nombres{
    width: 78%;
    height: 2vw;
    font-family: Regular;
    font-size: 1.10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Datos1{

    width: 80%;
    height: 4vw;
    font-family: Light;
    font-size: 1vw;
    border: 1px solid gray;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Datos2{
    margin-top: 0.7vw;
    width: 80%;
    height: 4vw;
    font-family: Light;
    font-size: 1vw;
    border: 1px solid gray;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Datos3{
    margin-top: 0.7vw;
    width: 80%;
    height: 4vw;
    font-family: Light;
    font-size: 1vw;
    border: 1px solid gray;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Datos4{
    margin-top: 0.7vw;
    width: 80%;
    height: 4vw;
    font-family: Light;
    font-size: 1vw;
    border: 1px solid gray;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Datos5{
    margin-top: 0.7vw;
    width: 80%;
    height: 4vw;
    font-family: Light;
    font-size: 1vw;
    border: 1px solid gray;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Datos6{
    margin-top: 0.7vw;
    width: 80%;
    height: 4vw;
    font-family: Light;
    font-size: 1vw;
    border: 1px solid gray;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Boton{
    margin-top: 2vw;
    width: 15%;
    height: 3vw;
    font-family: Light;
    color: white;
    font-size: 1.2vw;
    background-color: #ff6c2c;
    border-radius: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#IndicadorT{
    position: absolute;
    margin-left: 2.5vw;
}

#Descripcion{
    position: absolute;
    margin-left: 10.2vw;
}

#Categoria{
    position: absolute;
    margin-left: 20.4vw;
}

#FechaI{
    position: absolute;
    margin-left: 28.2vw;
}

#FechaF{
    position: absolute;
    margin-left: 40vw;
}

#Formula{
    position: absolute;
    margin-left: 50.4vw;
}

#Frecuencia{
    position: absolute;
    margin-left: 59.2vw;
}

#Porcentaje{
    position: absolute;
    margin-left: 68vw;
}

#Area{
    position: absolute;
    margin-left: 74vw;
}