@font-face {
    font-family: Light;
    src: url(media/MyriadPro-Light.otf);
}

@font-face {
    font-family: Regular;
    src: url(media/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: Italica;
    src: url(media/MYRIADPRO-SEMIBOLDIT.OTF);
}

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: white;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    font-family: Regular;
}

.Superior{
    display: flex;
    flex-direction: row;
}

.Navbar{
    padding-left: 9vw;
    margin-top: 0%;
    width: 100%;
    height: 3.5vw;
    border-bottom: 2vw solid #ff6c2c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: Regular;
    font-size: 1vw;
}

#NavText{
    position: absolute;
    margin-top: 0.3vw;
    margin-left: 0.5vw;
    text-decoration: none;
    color: black;
}


.Navbar img{
    width: 1.5vw;
}

#LogoNav{
    width: 2vw;
}

.Ajustes{
    padding-left: -10vw;
    margin-top: 0;
    width: 30%;
    height: 3.5vw;
    border-bottom: 2vw solid #ff6c2c;
    display: flex;
    justify-content: right;
    align-items: center;
}

.Ajustes img{
    width: 1vw;
    height: 1vw;
    padding-left: 1vw;
    cursor: pointer;
}

#CaraPedro{
    width: 2.5vw;
    height: 2.5vw;
    padding-right: 2vw;
}

.Contenido{
    margin-left: 0%;
    width: 100%;
    height: 96.5vh;
    display: flex;
    padding-left: 14vw;
}

#Pedro{
    width: 4vw;
    margin-left: -8vw;
    align-items: left;
}

#Textito {
    color: White;
    font-family: Light;
    margin-left: -0.7vw;
}

#Perfil{
    font-family: Italica;
    font-size: 1.5vw;
    display: flex;
    margin-top: 3vw;
    margin-left: 2vw;
}
#Perfil1{
    font-family: Italica;
    font-size: 1.5vw;
    display: flex;
    margin-top: 3vw;
    margin-left: 25vw;
}
#Perfil2{
    font-family: Italica;
    font-size: 1.5vw;
    margin-top: 10vw;
    margin-left: -35vw;
    
}

#Verif{
    background-color: #ff8c34;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #ff8c34;
    border-radius: 1vw;
    width: 16vw;
    height: 2vw;
    font-family: Italica;
    font-size: 1.3vw;
    color: white;
    display: flex;
    margin-top: 6vw;
    margin-left: -16vw;
    cursor: pointer;
}
#Verif1{
    background-color: #ff8c34;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #ff8c34;
    border-radius: 1vw;
    width: 16vw;
    height: 2vw;
    font-family: Italica;
    font-size: 1.3vw;
    color: white;
    display: flex;
    margin-top: 6vw;
    margin-left: 2vw;
    cursor: pointer;
}

.Nombre{
    width: 18vw;
    height: 4vw;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5vw;
    border-radius: 1vw;
    padding-left: 1vw;
}
.Documento{
    width: 18vw;
    height: 4vw;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5vw;
    border-radius: 1vw;
    padding-left: 1vw;
    margin-top: 2vw;
}
.Telefono{
    width: 18vw;
    height: 4vw;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5vw;
    border-radius: 1vw;
    padding-left: 1vw;
    margin-top: 2vw;
}
.Correo{
    width: 18vw;
    height: 4vw;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5vw;
    border-radius: 1vw;
    padding-left: 1vw;
    margin-top: 2vw;
}

span{
    font-size: 0.9vw;
    margin-left: 1.5vw;
    color: rgb(94, 94, 94);
}

.DatosPerfil{
    width: 24vw;
    height: 30vw;
    background-color: #ff8c34;
    position: absolute;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 2vw;
}

.DatosPerfil div{
    margin-left: -2vw;
}

.Actualizar{
    display: flex;
    flex-direction: column;
    width: 38vw;
    height: 19vw;
    background-color: #ff8c34;
    margin-top: 13vw;
    margin-left: -9vw;
    border-radius: 2vw;
    padding-left: 3vw;
}

#UserName{
    font-size: 1.3vw;
    color: white;
}

#Cell{
    font-size: 1.3vw;
    color: white;
}
#Correo{
    font-size: 1.3vw;
    color: white;
}

#NombreC{
    width: 80%;
    height: 2.5vw;
    border-radius: 2vw;
    border: 1px solid white;
    font-size: 1.3vw;
    margin-top: -1vw;
}

#CorreoC{
    width: 80%;
    height: 2.5vw;
    border-radius: 2vw;
    border: 1px solid white;
    font-size: 1.3vw;
    margin-top: -1vw;
}

#Tele{
    width: 80%;
    height: 2.5vw;
    border-radius: 2vw;
    border: 1px solid white;
    font-size: 1.3vw;
    margin-top: -1vw;
}

#Guardar{
    width: 13vw;
    background-color: #ff8c34;
    border: 1px solid #ff8c34;
    border-radius: 2vw;
    color: white;
    cursor: pointer;
    margin-top: 33vw;
    margin-left: -26vw;
    font-size: 1.3vw;
}

.Pie{
    width: 100%;
    height: 2vw;
    background-color: #ff6c2c;
}

.Menu{
    position: absolute;
    display: flex;
    width: 6vw;
    height: 0vw;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    background-color: #ff6c2c;
    margin-top: 8vw;
    margin-right: 4vw;
    overflow: hidden;
}

input[type="checkbox"]{
    display: none;
}

.Menu a{
    padding: 0.3vw;
    font-family: Light;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
}

.Menu a:hover{
    color: white;
}

#Burger:checked~.Menu{
    transition: 0.3s;
    width: 6vw;
    height: 4vw;
}

input{
    outline: none;
}