@font-face {
  font-family: Light;
  src: url(media/MyriadPro-Light.otf);
}

@font-face {
  font-family: Regular;
  src: url(media/MYRIADPRO-REGULAR.OTF);
}

@font-face {
  font-family: Italica;
  src: url(media/MYRIADPRO-SEMIBOLDIT.OTF);
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-color: white;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  font-family: Regular;
}

.Superior {
  display: flex;
  flex-direction: row;
}

.Navbar {
  padding-left: 9vw;
  margin-top: 0%;
  width: 100%;
  height: 3.5vw;
  border-bottom: 2vw solid #ff6c2c;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: Regular;
  font-size: 1vw;
}

#Nose{
  opacity: 0%;
  position: absolute;

}

#MenuHamb{
  opacity: 100%;
  position: absolute;
}

.MenuHamburguesa{
  position: absolute;
  display: none;
}


#NavText {
  position: absolute;
  margin-top: 0.3vw;
  margin-left: 0.5vw;
  text-decoration: none;
  color: black;
}

.Navbar img {
  width: 1.5vw;
}

#LogoNav {
  width: 2vw;
}

.Ajustes {
  padding-left: -10vw;
  margin-top: 0;
  width: 30%;
  height: 3.5vw;
  border-bottom: 2vw solid #ff6c2c;
  display: flex;
  justify-content: right;
  align-items: center;
}

.Ajustes img {
  width: 1vw;
  height: 1vw;
  padding-left: 1vw;
  cursor: pointer;
}

#CaraPedro {
  width: 2.5vw;
  height: 2.5vw;
  padding-right: 2vw;
}

.Contenido {
  margin-left: 0%;
  width: 100%;
  height: 96.5vh;
  display: flex;
  padding-left: 14vw;
}

#Pedro {
  width: 4vw;
  margin-left: -8vw;
  align-items: left;
}

#Textito {
  color: White;
  font-family: Light;
  margin-left: -0.7vw;
}

#Perfil {
  font-family: Italica;
  font-size: 1.5vw;
  display: flex;
  margin-top: 3vw;
  margin-left: 2vw;
}
#Perfil1 {
  font-family: Italica;
  font-size: 1.5vw;
  display: flex;
  margin-top: 3vw;
  margin-left: 25vw;
}
#Perfil2 {
  font-family: Italica;
  font-size: 1.5vw;
  margin-top: 10vw;
  margin-left: -35vw;
}

#Verif {
  background-color: #ff8c34;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff8c34;
  border-radius: 1vw;
  width: 16vw;
  height: 2vw;
  font-family: Italica;
  font-size: 1.3vw;
  color: white;
  display: flex;
  margin-top: 6vw;
  margin-left: -16vw;
  cursor: pointer;
}
#Verif1 {
  background-color: #ff8c34;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff8c34;
  border-radius: 1vw;
  width: 16vw;
  height: 2vw;
  font-family: Italica;
  font-size: 1.3vw;
  color: white;
  display: flex;
  margin-top: 6vw;
  margin-left: 2vw;
  cursor: pointer;
}

.Nombre {
  width: 18vw;
  height: 4vw;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5vw;
  border-radius: 1vw;
  padding-left: 1vw;
}
.Documento {
  width: 18vw;
  height: 4vw;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5vw;
  border-radius: 1vw;
  padding-left: 1vw;
  margin-top: 2vw;
}
.Telefono {
  width: 18vw;
  height: 4vw;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5vw;
  border-radius: 1vw;
  padding-left: 1vw;
  margin-top: 2vw;
}
.Correo {
  width: 18vw;
  height: 4vw;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5vw;
  border-radius: 1vw;
  padding-left: 1vw;
  margin-top: 2vw;
}

span {
  font-size: 0.9vw;
  margin-left: 1.5vw;
  color: rgb(94, 94, 94);
}

.DatosPerfil {
  width: 24vw;
  height: 30vw;
  background-color: #ff8c34;
  position: absolute;
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: 2vw;
}

.DatosPerfil div {
  margin-left: -2vw;
}

.Actualizar {
  display: flex;
  flex-direction: column;
  width: 38vw;
  height: 19vw;
  background-color: #ff8c34;
  margin-top: 13vw;
  margin-left: -9vw;
  border-radius: 2vw;
  padding-left: 3vw;
}

#UserName {
  font-size: 1.3vw;
  color: white;
}

#Cell {
  font-size: 1.3vw;
  color: white;
}
#Correo {
  font-size: 1.3vw;
  color: white;
}

#NombreC {
  width: 80%;
  height: 2.5vw;
  border-radius: 2vw;
  border: 1px solid white;
  font-size: 1.3vw;
  margin-top: -1vw;
}

#CorreoC {
  width: 80%;
  height: 2.5vw;
  border-radius: 2vw;
  border: 1px solid white;
  font-size: 1.3vw;
  margin-top: -1vw;
}

#Tele {
  width: 80%;
  height: 2.5vw;
  border-radius: 2vw;
  border: 1px solid white;
  font-size: 1.3vw;
  margin-top: -1vw;
}

#Guardar {
  width: 13vw;
  background-color: #ff8c34;
  border: 1px solid #ff8c34;
  border-radius: 2vw;
  color: white;
  cursor: pointer;
  margin-top: 33vw;
  margin-left: -26vw;
  font-size: 1.3vw;
}

.Pie {
  width: 100%;
  height: 2vw;
  background-color: #ff6c2c;
}

.Menu {
  position: absolute;
  display: flex;
  width: 6vw;
  height: 0vw;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  background-color: #ff6c2c;
  margin-top: 8vw;
  margin-right: 4vw;
  overflow: hidden;
}

input[type="checkbox"] {
  display: none;
}

.Menu a {
  padding: 0.3vw;
  font-family: Light;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
}

.Menu a:hover {
  color: white;
}

#Burger:checked ~ .Menu {
  transition: 0.3s;
  width: 6vw;
  height: 4vw;
}

input {
  outline: none;
}

@media (max-width: 431px) {

  body {
    display: flex;
    background-color: white;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    font-family: Regular;
    overflow: scroll;
    
  }
  
  .Superior {
    display: flex;
    flex-direction: row;
  }
  
  .Navbar {
    padding-left: 9vw;
    margin-top: 0%;
    width: 100%;
    height: 15vw;
    border-bottom: 2vw solid #ff6c2c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: Regular;
    font-size: 2vw;
  }
  
  #NavText {
    position: absolute;
    margin-top: 0.3vw;
    margin-left: 0.5vw;
    text-decoration: none;
    color: black;
    display: none;
  }
  
  .Navbar img {
    width: 3vw;
    display: none;
  }

  #LogoNav {
    width: 2vw;
  }
  
  .Ajustes {
    padding-left: -10vw;
    margin-top: 0;
    width: 30%;
    height: 15vw;
    border-bottom: 2vw solid #ff6c2c;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  .Ajustes img {
    width: 5vw;
    height: 5vw;
    padding-left: 1vw;
    cursor: pointer;
  }
  
  #CaraPedro {
    width: 10vw;
    height: 10vw;
    padding-right: 2vw;
  }
  
  .Contenido {
    display: flex;
    flex-direction: column;
  }
  
  #Perfil{
    font-size: 4vw;
  }

  .DatosPerfil{
    margin-top: 10vw;
    width: 85vw;
    height: 70vw;
    display: flex;
    margin-left: -6vw;
  }

  #Pedro{
    width: 10vw;
    margin-left: -37vw;
  }

  #Textito{
    font-size: 3vw;
  }

  .Nombre{
    width: 90%;
    height: 10vw;
    font-size: 5vw;
  }
  .Documento{
    width: 90%;
    height: 10vw;
    font-size: 5vw;
  }
  .Telefono{
    width: 90%;
    height: 10vw;
    font-size: 5vw;
  }
  .Correo{
    width: 90%;
    height: 10vw;
    font-size: 5vw;
  }

  .Correo span{
    font-size: 3vw;
  }
  .Telefono span{
    font-size: 3vw;
  }
  .Documento span{
    font-size: 3vw;
  }

  .Nombre span{
    font-size: 3vw;
  }

  #Perfil1{
    font-size: 4vw;
    margin-top: 70vw;
    margin-left: 2vw;
  }

  #Verif{
    width: 60vw;
    height: 12vw;
    font-size: 6vw;
    margin-left: -4vw;
    margin-top: -1vw;
  }
  #Verif1{
    width: 60vw;
    height: 12vw;
    font-size: 6vw;
    margin-left: -4vw;
  }

  #Perfil2{
    position: absolute;
    font-size: 4vw;
    margin-top: 120vw;
    margin-left: 3vw;
  }

  .Actualizar{
    width: 85vw;
    height: 100vw;
    padding-bottom: 5vw;
  }

  #UserName{
    font-size: 4vw;
  }

  #Cell{
    font-size: 4vw;
  }
  #Correo{
    font-size: 4vw;
  }

  #CorreoC{
    font-size: 4vw;
    width: 80vw;
    height: 8vw;
  }
  #NombreC{
    font-size: 4vw;
    width: 80vw;
    height: 8vw;
  }
  #Tele{
    font-size: 4vw;
    width: 80vw;
    height: 8vw;
  }

  #Guardar{
    font-family: Italica;
    font-size: 5vw;
    width: 45vw;
    height: 10vw;
    margin-left: 10vw;
    margin-top: 2vw;
  }
  
  .Menu {
    position: absolute;
    display: flex;
    width: 10vw;
    height: 0vw;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    background-color: #ff6c2c;
    margin-top: 30vw;
    margin-right: 4vw;
    overflow: hidden;
    z-index: 1;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .Menu a {
    padding: 0.3vw;
    font-family: Light;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 5vw;
  }
  
  .Menu a:hover {
    color: white;
  }
  
  #Burger:checked ~ .Menu {
    transition: 0.3s;
    width: 30vw;
    height: 15vw;
  }

  #Nose{
    opacity: 100%;
  }

  #MenuHamb{
    opacity: 100%;
    width: 10vw;
    display: inline;
    margin-left: -32vw;
    margin-top: -4vw;
  }
  
  .MenuHamburguesa{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 0vw;
    background-color: rgb(235, 235, 235);
    margin-top: 82vw;
    margin-left: -40vw;
    overflow: hidden;
    align-items: left;
    text-align: center;
    border-radius: 5vw;
    z-index: 1;
  }


  .MenuHamburguesa img{
    display: inline;
    width: 5vw;
  }
  .MenuHamburguesa a{
  text-decoration: none;
  }

  #NavT{
    display: inline;
    text-align: center;
    font-size: 5vw;
    text-decoration: none;
    color: black;
  }

  #Main:checked~.MenuHamburguesa{
    width: 35vw;
    height: 64vw;
    transition: 0.1s;
  }

  .MenuHamburguesa #NavT:hover {
    color: #ff6c2c;
  }

  #Inicio{
    margin-left: -0.3vw;
  }
  #Add{
    margin-left: 0vw;
  }
  #Refresh{
    margin-left: 4vw;
  }
  #Remove{
    margin-left: 2.5vw;
  }
  #Report{
    margin-left: 2.7vw;
  }
  #Help{
    margin-left: -1vw;
  }
}