@font-face {
  font-family: Light;
  src: url(media/MyriadPro-Light.otf);
}

@font-face {
  font-family: Regular;
  src: url(media/MYRIADPRO-REGULAR.OTF);
}

@font-face {
  font-family: Italica;
  src: url(media/MYRIADPRO-SEMIBOLDIT.OTF);
}

body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  background-color: white;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  font-family: Regular;
}

.Superior {
  display: flex;
  flex-direction: row;
}

.Navbar {
  padding-left: 9vw;
  margin-top: 0%;
  width: 100%;
  height: 3.5vw;
  border-bottom: 2vw solid #ff6c2c;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: Regular;
  font-size: 1vw;
}

#NavText {
  position: absolute;
  margin-top: 0.3vw;
  margin-left: 0.5vw;
  text-decoration: none;
  color: black;
}

.Navbar img {
  width: 1.5vw;
}

#LogoNav {
  width: 2vw;
}

.Ajustes {
  padding-left: -10vw;
  margin-top: 0;
  width: 30%;
  height: 3.5vw;
  border-bottom: 2vw solid #ff6c2c;
  display: flex;
  justify-content: right;
  align-items: center;
}

.Ajustes img {
  width: 1vw;
  height: 1vw;
  padding-left: 1vw;
  cursor: pointer;
}

#CaraPedro {
  width: 2.5vw;
  height: 2.5vw;
  padding-right: 2vw;
}

.barramedia {
  width: 100%;
  border-bottom: 1px solid gray;
  margin-top: 5vw;
  font-size: 2vw;
}
.barramedia p {
  margin-left: 2vw;
  margin-top: -3vw;
  position: absolute;
  border-radius: 1vw;
}

.indicador {
  width: 40vw;
  height: 2vw;
  background-color: rgb(194, 188, 188);
  margin-top: 5vw;
  margin-left: 2vw;
  text-align: center;
  border-radius: 1vw;
}

.indicador p {
  font-size: 2vw;
}

.descripcion {
  width: 39.7vw;
  height: 2vw;
  background-color: rgb(194, 188, 188);
  margin-top: -4vw;
  margin-left: 50vw;
  text-align: center;
  font-size: 2vw;
  border-radius: 2vw;
}

.descripcion p {
  font-size: 2vw;
}

#cuadro1 {
  position: absolute;
  width: 40vw;
  height: 0vw;
  background-color: gray;
  margin-left: 2vw;
  animation-duration: 3s;
  margin-top: -0vw;
}

#input1 {
  position: absolute;
  width: 39.6vw;
  height: 15vw;
  background-color: gray;
  margin-left: 50vw;
  margin-top: 1vw;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: default;
  border-radius: 9px;
  border: 2px solid orange;
}

#primero {
  display: none;
}

.suegerencias {
  position: absolute;
  top: 30vw;
  width: 100%;
  height: 5vw;
  border-bottom: 1px solid rgb(143, 143, 143);
}

.suegerencias p {
  width: 30vw;
  height: 2vw;
  font-size: 2vw;
  text-align: center;
  margin: auto;
  margin-top: 2vw;
  margin-left: 2vw;
  background-color: rgb(194, 188, 188);

  border-radius: 2vw;
}

#opt {
  background-color: gray;
  margin-top: 0.5vw;
  width: 40vw;
  border-radius: 2vw;
  border: 2px solid orange;
  font-size: 1.6vw;
}

#sugerencia {
  position: absolute;
  margin-top: 2vw;
  margin-left: 1vw;
}

#input2 {
  width: 90vw;
  height: 5vw;
  background-color: gray;
  border: 2px solid orange;
  border-radius: 2vw;
  cursor: default;
}

#Boton {
  position: absolute;
  background-color: #ff6c2c;
  color: white;
  border-radius: 2vw;
  border: 1px solid #ff6c2c;
  text-decoration: none;
  width: 13vw;
  height: 3vw;
  left: 42.5vw;
  margin-top: 8vw;
  cursor: pointer;
  font-size: 1.4vw;
  font-family: Light;
}

.Pie {
  width: 100%;
  height: 2vw;
  background-color: #ff6c2c;
}

.Menu {
  position: absolute;
  display: flex;
  width: 6vw;
  height: 0vw;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  background-color: #ff6c2c;
  margin-top: 8vw;
  margin-right: 4vw;
  overflow: hidden;
}

input[type="checkbox"] {
  display: none;
}

.Menu a {
  padding: 0.3vw;
  font-family: Light;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
}

.Menu a:hover {
  color: white;
}

#Burger:checked ~ .Menu {
  transition: 0.3s;
  width: 6vw;
  height: 4vw;
}

.Contenido {
  margin-left: 0%;
  width: 100%;
  height: 96.5vh;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 2vw;
}
